# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data files
data/*.csv
data/*.xlsx

# Reports (optional)
reports/*.txt
